includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    level: 9

    paths:
        - src/
        - tests/

    ignoreErrors:
        - identifier: missingType.iterableValue
        - message: '!Parameter #2 \$callback of function optional expects \(callable\(.*\): .*\)\|null, Closure\(.*\): .* given!'
          identifier: argument.type
          path: *src/Types/*Range.php
